* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff287b;
    background: #eed3d3e9;
    color: #ffffff;
    font-size: 1rem;
}

.temp-converter {
    background: linear-gradient(90deg, #fe9ac9 0%, #da2f62 100%);
    width: 100%;
    min-width: 320px;
    padding: 20px 25px 45px;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -5px -5px 250px 0 rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(21px);
}

.title {
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
}

.result {
    text-align: center;
    margin: 20px 0;
}

.result-heading {
    color: #f2cdcd;
    font-size: 1.2rem;
    font-weight: 600;
}

.celsius-value {
    border-bottom: 2px solid #ccc;
    padding: 10px;
    transition: all .45s ease;
}

.degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.degree-field {
    display: flex;
    flex-direction: column;
    width: 46%;
}

label {
    color: #555;
    font-size: 1rem;
    margin-bottom: 5px;
}

input,
select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
}

input:focus {
    border: 1px solid #f349af;
}

option {
    background: #f03c87;
    color: #f6f6f6;
}

#convert-btn {
    border: none;
    outline: none;
    border-radius: 5px;
    background: #fff;
    color: #fe1ca4;
    padding: 12px 80px;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-top: 10px;
    transition: all .3s ease-in;
    text-transform: uppercase;
    cursor: pointer;
}

#convert-btn:hover {
    color: #fff;
    background: #da2f62;
}

.fa {
    margin-left: -12px;
    margin-right: 8px;
}

.loading {
    display: none;
}